agent-framework-evaluator==0.7.2
aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alembic==1.13.1
altair==5.5.0
amqp==5.2.0
annotated-types==0.7.0
anthropic==0.39.0
antlr4-python3-runtime==4.13.2
anyio==4.6.2.post1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
asttokens==2.4.1
asyncpg==0.29.0
attrs==23.2.0
autogen-agentchat==0.2.40
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
bibtexparser==1.4.3
billiard==4.2.1
binaryornot==0.4.4
blinker==1.9.0
boto3==1.35.83
botocore==1.35.83
bracex==2.5.post1
build==1.2.2.post1
cachetools==5.5.0
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.0
chroma-hnswlib==0.7.3
chromadb==0.5.3
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coloredlogs==15.0.1
contourpy==1.3.2
cryptography==43.0.3
cycler==0.12.1
dataclasses-json==0.6.7
decorator==5.1.1
Deprecated==1.2.14
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
docstring_parser==0.16
docx2txt==0.8
durationpy==0.9
email_validator==2.1.2
emoji==2.14.0
eval_type_backport==0.2.0
executing==2.1.0
fastapi==0.115.12
fastapi-users==13.0.0
fastapi-users-db-sqlalchemy==6.0.1
ffmpy==0.5.0
filelock==3.16.1
filetype==1.2.0
fix-busted-json==0.0.18
FLAML==2.3.2
flatbuffers==24.3.25
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2024.10.0
gitdb==4.0.11
GitPython==3.1.42
google-ai-generativelanguage==0.6.10
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.26.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.13.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-generativeai==0.8.3
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
gradio==5.25.2
gradio_client==1.8.0
greenlet==3.1.1
groovy==0.1.2
grpc-google-iam-v1==0.13.1
grpcio==1.67.1
grpcio-status==1.62.3
h11==0.14.0
httpcore==1.0.6
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.0
huggingface-hub==0.30.2
humanfriendly==10.0
identify==2.6.1
idna==3.10
importlib_metadata==8.4.0
importlib_resources==6.4.5
ipython==8.29.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.7.0
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
kombu==5.4.2
kubernetes==31.0.0
langchain==0.2.17
langchain-community==0.2.18
langchain-core==0.2.43
langchain-ollama==0.1.1
langchain-openai==0.1.25
langchain-text-splitters==0.2.2
langdetect==1.0.9
langgraph==0.1.7
langsmith==0.1.141
lxml==5.3.0
makefun==1.15.6
Mako==1.3.6
Markdown==3.6
markdown-it-py==3.0.0
markdownify==0.13.1
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mmh3==5.0.1
monotonic==1.6
monty==2025.3.3
mpmath==1.3.0
mrcfile==1.5.4
multidict==6.1.0
mypy-extensions==1.0.0
narwhals==1.36.0
neo4j==5.26.0
neo4j-python-migrations==0.1.3
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
nodeenv==1.9.1
numpy==1.26.4
oauthlib==3.2.2
ollama==0.3.3
onnxruntime==1.20.0
openai==1.54.3
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
orjson==3.10.11
overrides==7.7.0
packaging==24.2
palettable==3.3.3
pandas==2.2.0
parso==0.8.4
pexpect==4.9.0
pika==1.3.2
pillow==11.0.0
platformdirs==4.3.6
plotly==6.0.1
posthog==3.7.0
pre-commit==3.8.0
prompt_toolkit==3.0.48
propcache==0.2.0
proto-plus==1.25.0
protobuf==4.25.3
psycopg2-binary==2.9.9
ptvsd==4.3.2
ptyprocess==0.7.0
pure_eval==0.2.3
pwdlib==0.2.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyautogen==0.3.1
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.1.0
pydantic_core==2.23.4
pydeck==0.9.1
pydub==0.25.1
Pygments==2.18.0
PyJWT==2.8.0
pymatgen==2025.4.20
pyparsing==3.2.0
pypdf==4.1.0
PyPika==0.48.9
pyproject_hooks==1.2.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-iso639==2024.10.22
python-magic==0.4.27
python-multipart==0.0.20
pytz==2024.2
PyYAML==6.0.2
RapidFuzz==3.10.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.7.0
rpds-py==0.24.0
rsa==4.9
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.11.6
s3transfer==0.10.4
safehttpx==0.1.6
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
semantic-version==2.10.0
sentence-transformers==3.2.1
setuptools==79.0.0
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
spglib==2.6.0
SQLAlchemy==2.0.27
stack-data==0.6.3
starlette==0.46.2
streamlit-ace==0.1.1
streamlit-antd==0.8.3
streamlit-embeded==0.0.1
streamlit-file-browser==3.2.22
streamlit-molstar==0.4.21
structlog==25.2.0
sympy==1.13.1
tabulate==0.9.0
tenacity==8.5.0
termcolor==2.5.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tokenizers==0.19.1
toml==0.10.2
tomlkit==0.13.2
torch==2.5.1
tornado==6.4.2
tqdm==4.67.0
traitlets==5.14.3
transformers==4.44.2
tree-sitter==0.23.2
tree-sitter-cpp==0.23.4
typer==0.12.5
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
uncertainties==3.2.3
unstructured==0.11.8
unstructured-client==0.27.0
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.27.0.post1
uvloop==0.21.0
vine==5.1.0
virtualenv==20.27.1
watchdog==6.0.0
watchfiles==0.24.0
wcmatch==10.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==13.1
wrapt==1.16.0
yarl==1.17.1
zipp==3.20.2
